html,
body{
    height: 100%;
}

body{
    color: $defoult;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #fff;
}
         
.main{
    flex-grow: 1;
}
.footer{
    flex: 0 0 auto;
}

.container{
    max-width: $containerWidth;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    color: inherit;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;

}
.title{
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}
.btn{
    display: block;
    width: 100%;
    height: 56px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}